.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 20%;
  
    height: 400px;
}
.notes-container {
    
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: white;
    height: 300px;
    width: 90%;
    overflow: scroll;
    overflow-x: hidden;
}
.block-button {
    width: 90%;
    margin: 5px;
    height: 35px;
    background-color:white;
    border: 1px solid black;
    font-weight: bold;
}
.partial-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}